.bg-body-tertiary{
    background-color: rgba(37, 35, 35, 0.651);
}
.navbar{
    background-color: rgba(209, 198, 198, 0.651);
}
.nav-item{
    height: 100px;
}
.navbar-nav{
    padding-top: 40px;
    
}
.derecha{
    padding-top: 70px;
    padding-right: 40px;
    
}